@import '@styles/vars';
@import '@styles/mixins';


.chat-page {
    display: flex;
    height: 100%;
}

.dialogs {
    background: $gray-light-3;
    border-right: 1px solid $border-color;
    width: $dialogs-width;
    flex-shrink: 0;

    &__header {
        padding: 15px 10px;
        text-align: right;
        border-bottom: 1px solid $border-color;

        &-link {
            @include text-12;

            color: $gray-dark-1;
            margin-bottom: 25px;

            &::after {
                content: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='%23999999'/%3E%3C/svg%3E");
                height: 10px;
            }
        }
    }

    &__search {
        position: relative;

        &::before {
            content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5924 11.4138C10.1605 12.8457 7.83886 12.8457 6.40694 11.4138C4.97502 9.98187 4.97502 7.66027 6.40694 6.22834C7.83886 4.79642 10.1605 4.79642 11.5924 6.22834C13.0243 7.66027 13.0243 9.98187 11.5924 11.4138ZM12.0328 12.7968C10.0725 14.2961 7.25696 14.1494 5.46413 12.3566C3.51151 10.404 3.51151 7.23816 5.46413 5.28553C7.41675 3.33291 10.5826 3.33291 12.5352 5.28553C14.3279 7.07828 14.4747 9.8937 12.9755 11.8539L16.5423 15.4206L15.5994 16.3634L12.0328 12.7968Z' fill='%23999999' /%3E%3C/svg%3E");
            height: 20px;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        &-input {
            width: 100%;
            height: 32px;
            background: $gray-light-2;
            font-weight: 500;
            font-size: 12px;
            color: $dark;
            border: none;
            border-radius: 5px;
            padding-left: 35px;

            &::placeholder {
                color: $gray-dark-1;
                font-weight: 500;

            }
        }
    }
}
