@import '@styles/vars';
@import '@styles/mixins';

.chat {
    &__message {
        background: $gray-light-5;
        border-radius: 0 12px 12px;
        padding: 11px 11px 18px;
        position: relative;
        max-width: 45%;
        margin-bottom: 10px;

        &-info {
            position: absolute;
            right: 9px;
            bottom: 9px;
            display: flex;
            align-items: center;
        }

        &-time {
            @include text-9;

        }

        &-status {
            width: 10px;
            height: 5px;
            margin-right: 3px;

            &_sent {
                background: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='-0.5' x2='3.765' y2='-0.5' transform='matrix(0.705933 0.708278 -0.705933 0.708278 0.700195 2.33313)' stroke='%233369F3'/%3E%3Cline y1='-0.5' x2='5.6475' y2='-0.5' transform='matrix(0.705933 -0.708278 0.705933 0.708278 3.35828 5)' stroke='%233369F3'/%3E%3Cline y1='-0.5' x2='5.6475' y2='-0.5' transform='matrix(0.705933 -0.708278 0.705933 0.708278 6.01587 5)' stroke='%233369F3'/%3E%3C/svg%3E%0A");
            }
        }

        &_file {
            border: 1px solid $border-color;
            background: $white;

            img {
                max-width: 100%;
            }
        }

        &_out {
            margin-left: auto;
            border-radius: 12px 12px 0;
            background: $blue-light;
        }
    }
}
