<div class="form-wrapper">
    <header class="login-form__header">
        <h1 class="login-form__title">Вход</h1>
    </header>

    <main class="login-form__content">
        {{{inputLogin}}}
        {{{inputPassword}}}
    </main>
    <footer class="login-form__footer">
        {{{footerButtonSubmit}}}
        {{{footerLinkSignup}}}
    </footer>
</div>