<div>
    {{{modalTitle}}}
    <div class="modal__content">
        <form action="" class="modal__form">
            {{{fileInput}}}
            {{{button}}}
            {{{modalError}}}
        </form>
    </div>
</div>