$black: #000;
$dark: #1E1E1E;
$white: #fff;
$gray-dark-1: #999;
$gray-light-1: #EAEAEA;
$gray-light-2: #EFEFEF;
$gray-light-3: #FBFBFB;
$gray-light-5: #F8F8F8;
$blue: #3369F3;
$blue-light: #E4EDFD;
$red: #FF2F2F;
$box-shadow: 0 0 6px #00000024;
$border-color: $gray-light-1;
$trans-dur: 0.2s;
$dialogs-width: 310px;
