<div class="modal {{#if className}} {{className}}{{/if}}" data-modal-type="{{dataModalType}}">
    <div class="modal__bg"></div>
    <div class="modal__wrapper">
        {{{content}}}
    </div>
</div>
