@import '@styles/vars';
@import '@styles/mixins';

.link {
    @include text-11;

    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: $blue;

    &:hover {
        color: darken($color: $blue, $amount: 5%);
    }

    &:active {
        color: darken($color: $blue, $amount: 8%);
    }

    &_red {
        color: $red;

        &:hover {
            color: darken($color: $red, $amount: 5%);
        }
    
        &:active {
            color: darken($color: $red, $amount: 8%);
        }
    }
}
